export(ArticleSearch)
export(BibToCorpus)
export(DTMFromCorpus)
export(GroupDTM)
export(KDSummary)
export(KDViz)
export(LoadArticle)
export(matrix.corpus.mpa)
export(read.corpus.mpa)
export(ReadRIS)
export(ReplaceByList)
export(TermFreqByWord)
export(TermFrequency)
importFrom(htmlwidgets, saveWidget)
importFrom(igraph, graph_from_incidence_matrix)
importFrom(mpa, diagram.mpa, matriz.mpa)
importFrom(networkD3, igraph_to_networkD3, forceNetwork, JS)
importFrom(rvest, html_text, html_node, html_nodes, html_attr, html_children)
importFrom(stringr, str_replace_all)
importFrom(tm, VCorpus, DataframeSource, tm_map, stripWhitespace, content_transformer, PlainTextDocument, removeWords, removeNumbers, DocumentTermMatrix, weightBin)
importFrom(xml2, read_html)
importFrom(utils, browseURL, flush.console, read.delim, write.table)